/* Creamos 5 variables:*/
$nagusia:rgb(0,154,183);
$bigarrena:rgb(176,224,230);
$txuria:#fff;
$storie:rgba(0,154,183,.2);

body {
    color: $nagusia !important;
    a {
        color: $nagusia !important;
    }

    .txikitu {
        p {
            font-size: 0.6em;
        }
        line-height: 0.2em;
    }
    .erabiltzailea {
        p {
            display: inline;
            margin-left: 0.5em;
        }
        a {
            text-decoration: none;
        }
    }
    .list-group-item {
        a {
            img {
                border-style: solid;
                border-color: $nagusia;
                border-width: 0.1em;
            }
            p {
                display: inline
            }
            i{
                margin-right: 0.5em;
            }
            text-decoration: none;
        }
        border: 0;
    }
    .card {
        .btn {
            color: $nagusia;
            background-color: $bigarrena;
        }
        color: $nagusia;
        border-width: 0.25em;
        border-color: $bigarrena;
    }
    .icon-link {
        color: $nagusia !important;
    }
    img.rounded-circle {
        width: 50px;
        height: 50px;
    }
}
@import "../bootstrap/scss/bootstrap.scss";