/* Creamos 5 variables:*/
$nagusia:rgb(0,154,183);
$bigarrena:rgb(176,224,230);
$txuria:#fff;
$storie:rgba(0,154,183,.2);

$theme-colors: (
  "primary":    $nagusia,
  "secondary":  $bigarrena
);

/*
.primary-text {
    color: $nagusia !important;
}

.icon-link{
    color: $nagusia;
}

*/
li img{
    width: 0.5em;
}

@import "../bootstrap/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
