/* Creamos 5 variables:*/
$nagusia:rgb(0,154,183);
$bigarrena:rgb(176,224,230);
$txuria:#fff;
$storie:rgba(0,154,183,.2);

.text-primary{
    color: $nagusia;
}
.bi {
    color: $nagusia; // Usa el color primary
    font-size: 50px; // Tamaño de 50px
}

.icon-link{
    color: $nagusia;
    img{
        width: 50px;
        height: 50px;
    }
}
